body {
  margin: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(233, 47%, 7%);
}
.main-container {
  display: flex;
  flex-direction: row;
}
.sub-container {
  background-color: hsl(244, 38%, 16%);
  width: 25rem;
  height: 446px;
  padding-right: 7.5rem;
  padding-left: 5rem;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}
img {
  border-radius:0 0.8rem 0.8rem 0;
  opacity: 0.5
  
  
}
.bg-image {
  background-color: #cc00ff;
  height: 446px;
  border-radius: 0 0.8rem 0.8rem 0;
}
.bottom-container {
  display: flex;
  justify-content: space-between;
  margin-top: 4.5rem;
}
h1 {
  font-family: "Lexend Deca", sans-serif;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: white;
}
h2 {
  margin-bottom: 5px;
  font-family: "Lexend Deca", sans-serif;
  color: white;
}
.top-container {
  margin-bottom: 3rem;
}
.top-para {
  font-family: "Inter", sans-serif;
  color: white;
}

p {
  margin-top: 0;
  color: white;
  font-family: "Inter", sans-serif;
}

.insights {
  color: #cc00ff;
}

@media (max-width: 1147px) {
  img {
    opacity: 0.5;
    height: 250px;
    width: 290px;
  }
  .bg-image {
    background-color: #cc00ff;
    height: 250px;
  }
  .sub-container {
    background-color: hsl(244, 38%, 16%);
    width: 15rem;
    height: 250px;
    margin-bottom: 7rem;
    padding-right: 3rem;
    padding-left: 2rem;
  }
  h1 {
    font-family: "Lexend Deca", sans-serif;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: white;
  }
  h2 {
    font-family: "Lexend Deca", sans-serif;
    color: white;
    font-size: 0.7rem;
  }
  .top-container {
    margin-bottom: 3rem;
  }
  .top-para {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 0.2rem;
  }

  p {
    margin-top: 0;
    color: white;
    font-size: 0.2rem;
    font-family: "Inter", sans-serif;
  }
  .top-container {
    margin-bottom: 0rem;
  }
  .bottom-container {
    margin-top: 30px;
  }
  @media (max-width: 630px) {
    .main-container {
      margin-top: 4rem;
      display: flex;
      flex-direction: column-reverse;
    }
    img {
      border-radius:0.8rem 0.8rem 0 0;
      opacity: 0.5;
      height: 230px;
      width: 260px;
    }
    .bg-image {
      border-radius:0.8rem 0.8rem 0 0;
      background-color: #cc00ff;
      height: 230px;
      width: 260px;
    }
    .sub-container {
      background-color: hsl(244, 38%, 16%);
      width: 180px;
      height:420px;
      border-radius:0 0 0.8rem 0.8rem ;
      margin-bottom: 7rem;
      padding-right: 3rem;
      padding-left: 2rem;
    }
    h1 {
      font-family: "Lexend Deca", sans-serif;
      margin-top: 1rem;
      margin-bottom: 2rem;
      font-size: 1rem;
      color: white;
    }
    h2 {
      font-family: "Lexend Deca", sans-serif;
      color: white;
      font-size: 0.7rem;
    }
    .top-container {
      margin-bottom: 3rem;
    }
    .top-para {
      font-family: "Inter", sans-serif;
      color: white;
      font-size: 0.2rem;
    }
  
    p {
      margin-top: 0;
      color: white;
      font-size: 0.2rem;
      font-family: "Inter", sans-serif;
    }
    .top-container {
      margin-bottom: 0rem;
    }
    .bottom-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:30px;
      margin-top: 2.8rem;
      
    }









































}
